.customspan{width:90px; height:30px; color:white;}

#bcurrency{margin-bottom: 5px; height:50px; font-size:20px; width:255px;}

#r1{margin-bottom: 5px; height:50px; font-size:20px;}

#ccurrency{width:255px; height:50px; font-size:20px;}

#result{border: 1px solid transparent; background:white; padding:5px; border-radius:5px; width:300px; font-size:20px; color:black;}
#conv{width:255px; }
#con { font-weight:bold;}
.lwidht{ width:150px;}
#myChart{ background-color: #cfe7ff}
* {
  box-sizing: border-box;
}

.rowa{
    width: 100%;
    
}
/* Create two equal columns that floats next to each other */
.columna {
  float: left;
  
  padding: 10px;
  
}


.lefta {
    width: 60%;
}

.righta {
    width: 35%;
}

.rowa:after {
    content: "";
    display: table;
    clear: both;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .columna {
    width: 100%;
  }
  .columnb {
    width: 100%;
  }
}

.contentd{
    padding-left:15px;
    padding-right:5px;
    padding-top:10px;
    background-color: white;
      
}

.spacer {
    margin: 20px;
}
.currbox {
    background-color: #3dc0f1;
    text-align: center;
    padding: 15px;
    color:white;
}
.qcbox {
    border: 1px solid;
}
.newfooter{
    padding-top:35px;
    padding-bottom:35px;
    
    color: white;
}
.newfooter:a{text-decoration: none;}
.highlight{  background-color: black; color:white;
padding:10px;}
.custom-body{ font-size:17px;}


.bn53 {
  background-color: #b81515;
  padding: 7px;
  width: 150px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  animation: bn53bounce 4s infinite;
  cursor: pointer;
  color:white;
}

@keyframes bn53bounce {
  5%,
  50% {
    transform: scale(1);
  }

  10% {
    transform: scale(1);
  }

  15% {
    transform: scale(1);
  }

  20% {
    transform: scale(1) rotate(-5deg);
  }

  25% {
    transform: scale(1) rotate(5deg);
  }

  30% {
    transform: scale(1) rotate(-3deg);
  }

  35% {
    transform: scale(1) rotate(2deg);
  }

  40% {
    transform: scale(1) rotate(0);
  }
}




/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 5px;
  border: 1px solid #888;
  width: 450px /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}




#myBtn {
background-color:#e61526;
border-radius:28px;
border:1px solid #18ab29;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:19px;
padding:16px 31px;
text-decoration:none;
text-shadow:0px 1px 0px #2f6627;
}
#myBtn:hover {
background-color:#e6351e;
}
#myBtn:active {
position:relative;
top:1px;
}
