.u-section-1 .u-sheet-1 {
    min-height: 548px;
  }
  
  .u-section-1 .u-group-1 {
    width: 765px;
    min-height: 492px;
    background-image: none;
    box-shadow: 5px 5px 25px 0 rgba(0,0,0,0.2);
    height: auto;
    margin: 16px auto;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 30px 0 54px;
  }
  
  .u-section-1 .u-text-1 {
    width: 183px;
    margin: 0 auto;
  }
  
  .u-section-1 .u-form-1 {
    height: 284px;
    width: 390px;
    margin: 30px auto 0;
  }
  
  .u-section-1 .u-label-1 {
    font-size: 1.125rem;
  }
  
  .u-section-1 .u-input-1 {
    font-size: 1.25rem;
  }
  
  .u-section-1 .u-label-2 {
    font-size: 1.125rem;
  }
  
  .u-section-1 .u-input-2 {
    font-size: 1.25rem;
  }
  
  .u-section-1 .u-btn-1 {
    font-size: 1.5rem;
    padding: 10px 108px 10px 107px;
  }
  
  .u-section-1 .u-text-2 {
    margin: 30px auto 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 1127px;
    }
  
    .u-section-1 .u-group-1 {
      width: 617px;
      --animation-custom_in-translate_x: 0px;
      --animation-custom_in-translate_y: 300px;
      --animation-custom_in-opacity: 0.8;
      --animation-custom_in-rotate: 0deg;
      --animation-custom_in-scale: 1;
      min-height: 517px;
      margin-top: 11px;
      margin-bottom: 60px;
      height: auto;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 1213px;
    }
  
    .u-section-1 .u-group-1 {
      width: 495px;
      min-height: 493px;
      margin-top: 7px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-bottom: 30px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 1095px;
    }
  
    .u-section-1 .u-group-1 {
      width: 419px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 1202px;
    }
  
    .u-section-1 .u-group-1 {
      width: 342px;
      min-height: 511px;
      margin-top: 29px;
      margin-left: -1px;
      margin-right: -1px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding: 18px 15px;
    }
  
    .u-section-1 .u-text-1 {
      width: auto;
      margin-right: 62px;
      margin-left: 68px;
    }
  
    .u-section-1 .u-form-1 {
      width: 308px;
      margin-top: 24px;
    }
  
    .u-section-1 .u-btn-1 {
      padding-right: 102px;
      padding-left: 101px;
    }
  
    .u-section-1 .u-text-2 {
      width: 170px;
      margin-top: 16px;
    }
  }